
.container{
    background-color: #FFF;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    transform : scale(0.5);
    margin: 20px;
    transform-origin: top left;

}
.container-grid{
    min-height: 0;
    min-width: 0;
    overflow: hidden;
}
.card{
    background-color: #93C8C4;
    border-radius:20px;
    margin: 30px;
    min-height: 1000px;
    min-width:1000px;
    width: auto;
}

.card-body{
    padding: 1em;
    background-color: #FFF;
    border-radius:20px;
    margin: 10px;
    display: inline-block;
    height: 950px;
    max-height: 950px;
    min-width:550px;
    width: 95%;
}

.card-body-block{
    margin-right: 20px;
    margin-left: 20px;
}

img{
    border-radius:20px;
    margin-right: -120px;
    max-width: 50%;
    max-height: 50%;
}

h1{
    font-family: "Bright";
    font-size: 6em;
}

p{
    font-family: "Aileron";
    font-size: 2em;
}